
footer
   .container-footer
      .image-icon
         .image-footer
         img(src='/images/logoFoot.jpg', alt="LogoFooter", height="200px", weight="100px")
      .icon-footer
         a(href=`https://www.facebook.com/` class="bi bi-facebook icon" target="_blank") 
         a(href=`https://www.instagram.com/` class="bi bi-instagram icon" target="_blank") 
         a(href=`https://www.youtube.com/` class="bi bi-youtube icon" target="_blank") 
   
      .infor-footer
         .category
            p.Tieude Thông tin
            ul.list-item
               li Giới thiệu
               li Tin tức

         .information
            p.Tieude Liên hệ
            p Nghiêm Xuân Yêm, Đại Kim, Hoàng Mai, Hà Nội
            p +(84) 23 456 789
            p +(84) 98 765 432
            p info@gmail.com
